
.right-about a,
.right-about a:link {
    color: #525252;
}

.cp {
    cursor: pointer;
}

.index-icon {
    background-image: url("../image/index/index-icon.png");
    display: inline-block;
    vertical-align: middle;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1
}

.banner {
    height: 140px;
    background: url("../image/index/banner.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-top: 80px
}

.banner .title {
    position: absolute;
    left: 32%;
    top: 50px;
    font-size: 36px;
    color: #1c77ec;
    letter-spacing: 4px;
    text-shadow: 5px 5px 5px #999db5;
}

.main {
    height: 360px;
    width: 1200px;
    margin: 70px auto;
}

.router-box {
    height: 350px;
    width: 320px;
    float: left;
    margin-left: 75px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.router-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.router-box .top-wrap img {
    height: 240px;
    width: 100%
}

.router-box .bottom-wrap {
    padding: 15px;
    text-align: left;
    font-size: 14px
}

.router-box .bottom-wrap .module-name {
    font-size: 17px;
    font-weight: bold;
}

.router-box .bottom-wrap .module-in {
    margin-top: 15px
}

.footer {
    background: #fff;
    border-top: 10px solid #FAC806;

}

.footer .about {
    width: 100%;
    max-width: 1400px;
    padding: 50px 20px;
    margin: 0 auto;
}

.footer .about .main-width {
    float: left;
}

.footer .about .main-width .list {
    width: 200px;
    float: left;
    text-align:left
}

.footer .about .main-width .list h4 {
    color: #333;
    font-size: 14px;
    margin-bottom: 15px;
}

.footer .about .main-width .list li a {
    font-size: 14px;
    color: #777;
    line-height: 30px;

}

.footer .about .main-width .list .public-no p {
    color: #999;
}

.footer .about .main-width .list .public-no .img {
    margin-top: 6px;
}

.right-about {
    padding-top: 5px;
    position: relative;
    font-size: 14px
}

.right-about p {
    color: #333;
    margin: 14px 0
}

.fr {
    float: right;
}

.right-about:before {
    position: absolute;
    content: '';
    width: 1px;
    height: 77px;
    background: #ddd;
    top: 15px;
    left: -30px;
}

.right-about p span {
    margin-left: 20px;
}

.icon-dzy {
    width: 26px;
    height: 32px;
    background-position: -848px -106px;
    margin-right: -10px;
}

.icon-pos {
    width: 18px;
    height: 20px;
    background-position: -917px -112px;
    margin: -2px 10px 0 0;
}
