
 .layerControlWrap {
     height: 100%;
     transition: all 0.5s;
     width: 250px;
     position: relative;
     left: 0px;
     background: #fff;
     border-right: 1px solid #d7dae2;
     border-radius: 4px;
 }



 #layout .el-tabs__item {
     height: 30px;
     line-height: 30px;
     font-size: 12px
 }

 #layout .el-tabs--bottom .el-tabs__header.is-bottom {
     margin-top: 0
 }

 /******工作区折叠和展开顶部操作菜单的样式，公共样式 start*********/
  .headerOpeBanner {
     position: absolute;
     z-index: 100;
     text-align: left;
 }

 .switchContainer {
     display: inline-block;
     margin: 10px;
     position:absolute;
     z-index:104;
 }

 .operationContainer {
     margin: 20px;
     display: inline-block;
 }
 .counterMenuGroup {
   height: 10px;
   margin: 10px;
 }
 .operationContainerWrap {
     position: absolute;
     left:100px;
     transition: width .3s;
     background: #fff;
 }
 /******工作区折叠和展开顶部操作菜单的样式，end*********/


